<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uco.weddingcrashers.hitched">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseDatabase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BudgetActivity"
            android:label="@string/title_activity_budget" />
        <activity
            android:name=".MasterWeddingList"
            android:label="@string/title_activity_checklist" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".VendorActivity"
            android:label="@string/title_activity_vendor"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".VendorsDetailActivity"
            android:label="@string/title_activity_vendor"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".VendorDetailsPagerActivity"
            android:label="@string/title_activity_vendor"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".DetailActivity"/>
        <activity android:name=".Pictures" />
        <activity
            android:name=".PicturesWeb"
            android:label="@string/title_activity_pictures_web" />
        <activity
            android:name=".WeddingDressActivity"
            android:label="@string/title_activity_wedding_dress_activity" />
        <activity
            android:name=".VenueActivity"
            android:label="@string/title_activity_venue"></activity>
        <activity
            android:name=".GuestListActivity"
            android:label="@string/title_activity_wedding_list"></activity>
    </application>

</manifest>
